*{  
   margin:0;  
   padding:0;  
}  

body{  
   text-align:center; /*For IE6 Shenanigans*/  
background-color:#000343;
font-family: 'Pixelar Regular W01 Regular';
color:white;
}  

#wrapper{  
padding-top:60px;
   width:960px;  
   margin:0 auto;  
   text-align:left;  
}

.half {
display:inline-block;

}
.mega {
margin-left:-462px;
}

p {
padding-bottom:1em;
}