*{  
   margin:0;  
   padding:0;  
}  

/*hello matthias this is a test*/

body{  
   text-align:center; /*For IE6 Shenanigans*/  
background:#010022;
font-family: 'Pixelar Regular W01 Regular';
font-size: 18pt;
color: #95b6de;
}  

.fullpage{
width:100%;
min-width:1064px;
overflow:hidden;


}

.fullpage.bottom{
background:#010022;
}

.fullpage.top{
background-image:url('images/background2.png');
}

.wrapper{
padding-left:50px;
padding-right:50px;
   width:964px;  
   margin:0 auto;  
   text-align:left;
  padding-bottom:0em;
 

}
.wrapper.top{
padding-top:60px;
background-image:url('images/backgroundmask.png');

}
.wrapper.bottom{
	padding-right: 150px;
	  padding-bottom:1em;

}



.text-column{
padding-top:1.3em;
width:480px;
margin:0 auto;
text-align:justify;
line-height:1.3em;
}



#topbar{
position:fixed;
width:100%;
height:60px;
background:#010022;
}
.bar-content{
width:964px;
margin:0 auto;
height:60px;
padding-top:15px;
position:relative;
text-align:left;
color:#53e8be;
letter-spacing:2px;
}

.bar-content a{
color:#cc0262;
margin-left:10px;
}

.bar-content a:hover{
color:#53e8be;
}

.bar-left{
position:absolute;
right:0;
top:15px;
text-align:right;
}

.sprite{
height:32px;
background-image:url('images/comic3/Social.png');
display:inline-block;
margin-left:10px;
}
a.tw{
width:36px;
background-position:104px 0;
}
a.st{
width:46px;
background-position:0px 0;
}
a.snd{
width:50px;
background-position:50px 0;
}

a.tw:hover{
background-position:104px 32px;
}
a.st:hover{
background-position:0 32px;
}
a.snd:hover{
background-position:50px 32px;
}

.anchor{
position:relative;
top:-60px;
}
#About{
top:-120px;
}



h1 {
padding-top:1.3em;
font-size:1em;
   width: 100%; 
   text-align: center; 

letter-spacing:2px;
   height: 0.6em;
margin-bottom:1.8em;
   color:#4a4e87;
} 

.third h1{
   border:none;
}

h1 span {

    padding:0 1.3em;

}

.half {
display:inline-block;

}
.mega {
margin-left:-462px;
}

p {
padding-bottom:1.3em;
}

.quote {
line-height:1.3em;
width:430px;
margin: 0 auto;
padding-bottom: 2.6em;
text-align:center;
}
.quote .qb{
color: #cc0262;
font-size:1.5em;
}
.quote .at{
	font-size:1em;

}
.text-container{
padding-top:2.6em;
}

.sc{
font-style:regular;
font-family:'Pixelar Regular SC W01 Regular';
}

.center-holder{
padding-top:5em;
width:100%;
text-align:center;
}

.blueb{
margin-top:16px;
border:2px black solid;
}
.if{
border:2px #cc0262 solid;
}

a{
text-decoration:none;
color:
#4a4e87;
}
a:hover{
color:#cc0262;
}

.pr{
padding-right:16px;
}
.pb{
padding-bottom:16px;
}
.pt{
padding-top:16px;
}
.overlap{
margin-top:-20px;
}

.center{
width:964px;
margin-left:-240px;
text-align:center;
color:#4a4e87;
}
.third{
display:inline-block;
width:300px;
vertical-align:top;
}
.middle{
padding:0px 30px;
}